<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>

    <style>

        .headerLogo{
            padding:20px;
            background:#493B3B;
            margin-bottom:20px;
        }

    </style>

  </head>
  <body width="100%">
    <!--____This is for text only_____-->
    <!--<h2>{{text2}}</h2>-->

    <!--____This is for image only____-->
    <!--<img src="cid:logo" />-->

    <div>
        <div class="headerLogo">
            <table cellspacing="0" cellpadding="0" border="0" width="100%">
                <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
                </thead>

                <tbody>
                    <tr>
                        <td>
                            <div class="divCheckInOut" style="float:left;">
                                <h2 style="color:white;">{{header}}</h2>
                            </div>
                        </td>
                        
                        <td>
                            <div class="divCheckInOut" style="float:right;">
                                <img src="cid:logo" style="height:110px;" />
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

        <p style="font-size:16px;">Greetings!</p>
        <p style="font-size:16px;">{{message}}</p>
        <p style="font-size:16px;">{{reason}}</p>
        <p style="font-size:16px;">{{contact}}</p>
        <p style="font-size:16px;">With regards,<br/>Ms. Abegeil Padilla<br/>Real-Estate Broker, Manhattan Garden City.</p>

        <div style="margin:30px 0px 30px 0px;height:1px solid #858585;border:  1px solid #858585;"></div>

        <div>
            <p style="text-align:center;color:#858585;margin:0%;font-size:15px;">You are receiving this email because you are an abPadilla user. Please do not reply to this email. </p>
            <!--<img src="https://drive.google.com/uc?id=1WT-AOrO738lsd1ECv3HMU00EJpFdyMV5&export=download" style="height:35px;" />-->
            <p style="font-weight:bold;text-align:center;">© 2022 - 2023 <a href="https://abpadilla.herokuapp.com/mc/home">abPadilla.com</a>, All Rights Reserved.</p>
        </div>
    </div>
  </body>
</html>